<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>Message board</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./../CSS/messageBoard.css')}}" />

    </head>
    <body>
        <div id="messageBoardArea" class="messageBoardArea">
            <div id="selectionArea">
                <div id="title" >發表一篇圖文</div>
                <div class="inputItem">文字內容 <input type="text" id="textContentFromUser" placeholder="選擇一張圖片後送出"></div>
                <div class="inputItem">圖片檔案 <input type="file" id="inputFile" accept="image/*" ></div>
                <input type="button"  id="submitButton" value="送出">    
            </div>
            <div id="messageContainer">
            </div>
            <!-- <div class="messageContent">
                <div id="textContent" class="textContent">abc</div>
                <div id="imgContent"></div>
            </div> -->
        </div>
        <script src="/js/messageBoard.js"></script>
    </body>
</html>
